<h1>TaskList: <%= @task_list.title %></h1>
<%= link_to "Completed Tasks", complete_task_index_path(task_list: @task_list.id) %>
<%= button_to "Create Task", new_task_list_task_path(@task_list.id), method: :get %>


<button class="all-tasks-button">
  Show All
</button>

<button class="title-sort-button">
  Sort By Title
</button>

<button class="description-sort-button">
  Sort By Description
</button>

<button class="date-sort-button">
  Sort By Date
</button>

<form>
  <input type="text" id="text_box" />
</form>

<div class="all-tasks">
  <%= render partial: '/partials/tasks', locals: {tasks: @tasks} %>
</div>

<div class="title-sort">
  <%= render partial: '/partials/task_by_title', locals: {tasks: @tasks} %>
</div>

<div class="description-sort">
  <%= render partial: '/partials/task_by_description', locals: {tasks: @tasks} %>
</div>

<div class="date-sort">
  <%= render partial: '/partials/task_by_date', locals: {tasks: @tasks} %>
</div>
