<% @tasks.sort_by {|task| task.title.downcase}.each do |task| %>
  <div class="task" id=<%="#{task.id}"%>>
    <h3><%= "Task Number #{task.id}"%></h3>
    <ul>
    <li>Title: <%= task.title %></li>
    <li>Description: <%= task.description %></li>
    <li>Due Date: <%= task.due_date %></li><br>
    <li class="status">Status: <%= task.status%></li><br>
    <%= image_tag task.attachment.url(:thumb) if task.attachment.url %>
    <%= button_to "Edit Task", edit_task_list_task_path(@task_list.id, task), method: :get %>
    <button class="delete-task">
      Delete Task
    </button>
    <button class="complete-task">
      Complete Task
    </button>
  </div>
<% end %>
