<h1>Completed Tasks for <%= @task_list.title %> </h1>
<%= link_to "Incomplete Tasks", task_list_path(@task_list) %>
<% @tasks.each do |task| %>
  <div class="task" id=<%="#{task.id}"%>>
    <h3><%= "Task Number #{task.id}"%></h3>
    <p>Title: <%= task.title %></p>
    <p>Description: <%= task.description %></p>
    <p>Due Date: <%= task.due_date %></p><br>
    <p class="status">Status: <%= task.status%></p><br>
    <%= image_tag task.attachment.url(:thumb) %>
    <button class="incomplete-task">
      Mark Incomplete
    </button>
  </div>
<% end %>
