<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home Page", root_path %>
  <%= link_to "Back", :back %>
<%= yield %>

</body>
</html>
